<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Egar"
        tools:targetApi="31">
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Egar.NoActionBar" />
        <activity
            android:name=".Activities.FollowOrder"
            android:exported="false" />
        <activity
            android:name=".Activities.Service_Provider_Store_Details"
            android:exported="false" />
        <activity
            android:name=".Activities.ShowService_Product_Details"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ShowAll_Items"
            android:exported="false" />
        <activity
            android:name=".Activities.Notifications"
            android:exported="false" />
        <activity
            android:name=".Activities.Pager_GetStarted"
            android:exported="false"
            android:theme="@style/SplashNoActionBar" />
        <activity
            android:name=".Activities.ResetPassword"
            android:exported="false"
            android:theme="@style/SplashNoActionBar" />
        <activity
            android:name=".Activities.Register"
            android:exported="false"
            android:theme="@style/SplashNoActionBar" />
        <activity
            android:name=".Activities.Login"
            android:exported="false"
            android:theme="@style/SplashNoActionBar" />
        <activity
            android:name=".Activities.Splash"
            android:exported="true"
            android:theme="@style/SplashNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false"
            android:theme="@style/SplashNoActionBar" />
    </application>

</manifest>